<!DOCTYPE html>
<html>

<%- include('layout/head') -%>

<body>
  <div style="width:100%;height:100%;position:relative;overflow:hidden;">
    <div class="background" data-speed="2"></div>

    <div class="divForm">
      <h3>Création d'un personnage</h3>
      <form class="" action="/createCharacter" method="post">
        <div class="input-field col s12">
          <input type="text" class="inputD2" name="nameCharacter" id="nameCharacter">
          <label for="nameCharacter" style="color:white;">Nom du personnage</label>
        </div>
        <h5>Classe</h5>
        <div class="input-field col s12">
          <select name="classCharacter">
            <option value="" disabled selected>Choisissez votre Classe</option>
            <% classes.forEach(function(c) {%>
              <option value="<%= c.displayProperties.name %>"><%= c.displayProperties.name %></option>
            <% }); %>
          </select>
        </div>
        <h5>Genre</h5>
        <div class="input-field col s12">
          <select name="genderCharacter">
            <option value="" disabled selected>Choisissez votre genre</option>
            <% genders.forEach(function(gender) {%>
              <option value="<%= gender.displayProperties.name %>"><%= gender.displayProperties.name %></option>
            <% }); %>
          </select>
        </div>
        <h5>Race</h5>
        <div class="input-field col s12">
          <select name="raceCharacter">
            <option value="" disabled selected>Choisissez votre race</option>
            <% races.forEach(function(race) {%>
              <option value="<%= race.displayProperties.name %>"><%= race.displayProperties.name %></option>
            <% }); %>
          </select>
        </div>
        <% if (error != null) { %>
          <p class="red-text"><b><%= error %></b></p>
        <% } %>
        <input type="submit" class="buttonD2" name="" value="Valider">
        <a href="/" class="buttonD2">Retour</a>
      </form>
    </div>
  </div>
</body>


<%- include('layout/script') -%>
<script type="text/javascript" src="/javascripts/selectForm.js"></script>

</html>
